
  <!-- ================= FOOTER ================= -->
  <footer class="site-footer glass">
    <div class="footer-container">

      <div class="footer-section">
        <h3>About</h3>
        <p>
          <b>Dr. Rajkumar Bhimgonda Patil Parmappa</b><br>
          Assistant Professor<br>
          Department of Mechanical Engineering
        </p>
      </div>

      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../about.html">About Me</a></li>
          <li><a href="../research-projects.html">Research</a></li>
          <li><a href="../publications.html">Publications</a></li>
          <li><a href="../courses.html">Courses</a></li>
          <li><a href="../contact.html">Contact</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Academic Activities</h3>
        <ul>
          <li><a href="../research-interest.html">Research Interests</a></li>
          <li><a href="../">Ongoing Projects</a></li>
          <li><a href="../sttp-organized.html">STTP Organized</a></li>
          <li><a href="../guest-expert-lectures-delivered.html">Guest Lectures</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Contact</h3>
        <p>
          <b>Email:</b><a href="mailto:rajkumarpatil2009@gmail.com"> rajkumarpatil2009@gmail.com</a>  <br> 
          <b>Office:</b> 4th Floor, Wing B, DJSCE. 
        </p>

        <div class="footer-map glass-inner">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.008948715854!2d72.83453817418494!3d19.107263350992387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9c676018b43%3A0x75f29a4205098f99!2sSVKM's%20Dwarkadas%20J.%20Sanghvi%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1769073102741!5m2!1sen!2sin"
            loading="lazy"
            allowfullscreen>
          </iframe>
        </div>

        <div class="social-links">
          <a href="#">GS</a>
          <a href="#">OR</a>
          <a href="#">RG</a>
          <a href="#">IN</a>
        </div>
      </div>

    </div>

     <!-- THEME TOGGLER -->
  <div class="footer-theme-row">
    <div class="footer-theme-toggle">
      <div class="theme-switch">
        <div class="indicator"></div>
        <button data-theme="light">Light</button>
        <button data-theme="dark">Dark</button>
        <button data-theme="auto">Auto</button> 
      </div>
    </div>
  </div>

  <!-- FOOTER BOTTOM -->
  <div class="footer-bottom">
    <p>
      © <span id="year"></span> Dr. Rajkumar Bhimgonda Patil Parmappa |
      All Rights Reserved <br>
      Designed & maintained by Web X
    </p>
  </div>

</footer>