<nav class="glass-navbar">

  <div class="brand">
    <img src="logo.png" class="brand-logo" alt="Logo">
    <span class="brand-name">Dr. Rajkumar B. Patil</span>
  </div>

  <div class="hamburger" id="hamburger" aria-label="Menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-items" id="navMenu">

    <li class="nav-item">
      <a href="index.html">Home</a>
    </li>

    <li class="nav-item">
      <a href="about.html">About Me</a>
    </li>

    <li class="nav-item">
      <a href="../ongoing.html">Ongoing Activities</a>
    </li>

    <li class="nav-item dropdown">
      <span role="button" tabindex="0">Research</span>
      <ul class="dropdown-menu">
        <li><a href="research-interest.html">Research Interest</a></li>
        <li><a href="research-projects.html">Research Project</a></li>
      </ul>
    </li>

    <li class="nav-item">
      <a href="publications.html">Publication</a>
    </li>

    <li class="nav-item">
      <a href="courses.html">Course</a>
    </li>

    <li class="nav-item dropdown dropdown-right">
      <span>More</span>

      <ul class="dropdown-menu">

        <li class="submenu submenu-left">
          <span>External Engagement & Collaborations</span>

          <ul class="nested">
            <li><a href="../sttp-organized.html">STTP Organized</a></li>
            <li><a href="../guest-expert-lectures-delivered.html">Guest-Expert Lectures Delivered</a></li>
            <li><a href="../STTP-FDP Attended.html">Courses Completed</a></li>
          </ul>
        </li>

        <li><a href="../downloads.html">Downloads</a></li>
        <li><a href="../photo-gallery.html">Photo Gallery</a></li>
        <li><a href="../contact.html">Contact</a></li>

      </ul>
    </li>


  </ul>
</nav>
